
body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

html {
	height: 100%;
	width: 100%;
	overflow-x:hidden;
	overflow-y:hidden;
}

#CopyrightWrapper {
	text-align: center;
	position: absolute;
	display: inline-block;
	top: 95%;
/* 	transform: translate(-50%, -50%); */
	width: 100%;

}

p#CopyrightLink {
	margin:0;
	}

p,a {
	font-size: 11px;
	color:rgba(225, 229, 232, 0.7);
}

p {padding-left:6%;}

a:link {
	text-decoration: none;
	border-bottom: 1px dotted rgba;
	border-bottom: 0.2mm dotted rgba(155, 155, 155, .7);
	transition: border 500ms ease;
}

a:hover {
	text-decoration: none;
	border-bottom: 0.2mm dotted transparent;
}